<li>
  {{rental.owner}}'s {{rental.type}} in {{rental.city}}
  {{#if isImageShowing }}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button class="btn btn-lg btn-success" {{action 'imageShow'}}>Show image</button>
  {{/if}}
  <button class="btn btn-lg btn-danger" {{action 'delete' rental}}>Erase This!</button>
</li>
